<launch>

  <node name="whipbot_main"   pkg="whipbot" type="whipbot_main.py" output="screen"/>
  <node name="get_sernsor" pkg="whipbot" type="get_sernsor.py" output="screen"/>
  <node name="motion_generator"   pkg="whipbot" type="motion_generator.py" output="screen"/>

  <node name="wheel_odometry"   pkg="whipbot" type="wheel_odometry.py" output="screen">
    <param name="pulse_per_round" value="4096.0"/>
    <param name="wheel_diameter" value="0.1524"/>
    <param name="tread" value="0.25"/>
  </node>

  <node name="motor_control"   pkg="whipbot" type="motor_control.py" output="screen">
    <rosparam param="pid_gain_posture">
      <!-- input the pid gain parameters to the list below -->
      [600.0, 0.0, 200.0]
    </rosparam>
    <rosparam param="pid_gain_linear_velocity">
      <!-- input the pid gain parameters to the list below -->
      [5.0, 0.0, 2.0]
    </rosparam>
    <rosparam param="pid_gain_angular_velocity">
      <!-- input the pid gain parameters to the list below -->
      [100.0, 0.0, 10.0]
    </rosparam>
  </node>

  <node name="motor_command" pkg="kondo_b3mservo_rosdriver" type="torque_control_autodetect_multicast.py" output="screen"/>

  <node name="joy_node"   pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="50"/>
  </node>

  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map frame 100"/>

</launch>
